<h2 class="text-xl font-bold mt-5 mx-2 text-center">
  Guest Management History
</h2>
<ul class="mt-5" id="navMenu">
  <li
    class="transition-all duration-300 w-full rounded-full px-2 hover:bg-black py-1 hover:-translate-y-1 hover:text-white mt-3"
  >
    <a href="/home" class="text-3xl font-bold"
      ><i class="fa-solid fa-house"></i> Home</a
    >
  </li>
  <li
    class="transition-all duration-300 w-full rounded-full px-2 hover:bg-black py-1 hover:-translate-y-1 hover:text-white mt-3"
  >
    <a href="/cashier" class="text-3xl font-bold"
      ><i class="fa-solid fa-cash-register"></i></i> Cashier</a
    >
  </li>
</ul>
