<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="{{ csrf_token }}" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/apexcharts/dist/apexcharts.css"
    />
    <script
      src="https://kit.fontawesome.com/6579bcae86.js"
      crossorigin="anonymous"
    ></script>
    <title>Home</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
      * {
        font-family: "DM Sans", sans-serif;
        font-optical-sizing: auto;
      }
    </style>
  </head>
  <body>
    <div class="flex flex-row">
      <div
        class="transition-all duration-500 w-96 bg-gray-200 text-black h-screen static"
        id="sidebar"
      >
        {% include "./includes/sidebar.html" %}
      </div>
      <div class="w-full p-3" id="main">
        <div class="flex flex-row justify-between">
          <div class="font-bold text-3xl py-5">
            <i
              class="transition-all duration-700 fa-solid fa-bars cursor-pointer hover:-translate-y-1"
              id="minimizeBtn"
            ></i>
            Welcome Users
          </div>
        </div>
        <div
          class="grid grid-cols-1 xl:grid-cols-4 md:grid-cols-2 place-items-center place-content-center mt-10 mb-10 gap-5"
        >
          <div
            class="border-black border-2 p-5 shadow rounded w-64 h-full"
            style="
              background-color: #85ffbd;
              background-image: linear-gradient(
                45deg,
                #85ffbd 0%,
                #fffb7d 100%
              );
            "
          >
            <div class="flex justify-between">
              <h1 class="text-2xl font-bold">Total Visitors</h1>
              <i class="fa-solid fa-people-group text-2xl font-bold"></i>
            </div>
            <div
              class="flex justify-center mt-2 font-bold text-4xl"
              id="totalVisitors"
            >
              {{count}}
              <span class="text-xl flex items-center mx-2">visitor/s</span>
            </div>
          </div>
          <div
            class="border-black border-2 p-5 shadow rounded w-64 h-full"
            style="
              background-color: #d9afd9;
              background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
            "
          >
            <div class="flex justify-between">
              <h1 class="text-xl font-bold">Cashier Transaction</h1>
              <i class="fa-solid fa-wallet text-2xl font-bold"></i>
            </div>
            <div
              class="flex justify-center mt-2 font-bold text-4xl"
              id="cashierVisitors"
            >
              {{count_cashier}}
              <span class="text-xl flex items-center mx-2">visitor/s</span>
            </div>
          </div>
          <div
            class="border-black border-2 p-5 shadow rounded w-64 h-full"
            style="
              background-color: #8bc6ec;
              background-image: linear-gradient(
                135deg,
                #8bc6ec 0%,
                #9599e2 100%
              );
            "
          >
            <div class="flex justify-between">
              <h1 class="text-xl font-bold">Registrar Transaction</h1>
              <i class="fa-solid fa-wallet text-2xl font-bold"></i>
            </div>
            <div
              class="flex justify-center mt-2 font-bold text-4xl"
              id="registrarVisitors"
            >
              {{count_registrar}}
              <span class="text-xl flex items-center mx-2">visitor/s</span>
            </div>
          </div>
          <div
            class="border-black border-2 p-5 shadow rounded w-64 h-full"
            style="
              background-color: #ffdee9;
              background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
            "
          >
            <div class="flex justify-between">
              <h1 class="text-xl font-bold">Accounting Transaction</h1>
              <i class="fa-solid fa-wallet text-2xl font-bold"></i>
            </div>
            <div
              class="flex justify-center mt-2 font-bold text-4xl"
              id="accountingVisitors"
            >
              {{count_accounting}}
              <span class="text-xl flex items-center mx-2">visitor/s</span>
            </div>
          </div>
        </div>
        <div class="flex justify-center mb-7">
          <div class="bg-black text-white rounded px-10 py-2 shadow">
            <h1 class="text-3xl font-bold">
              <i class="fa-solid fa-users-rays mx-2"></i> Visitors Table
            </h1>
          </div>
        </div>
        <div class="flex flex-row mt-2 gap-7">
          <div>
            <p class="inline font-bold">Purpose:</p>
            <select
              name=""
              id="purposeInput"
              class="border-2 rounded shadow inline"
            >
              <option value="1">All</option>
              <option value="2">Cashier</option>
              <option value="3">Accounting</option>
            </select>
          </div>
          <div>
            <p class="inline font-bold">Status:</p>
            <select
              name=""
              id="statusInput"
              class="border-2 rounded shadow inline"
            >
              <option value="1">All</option>
              <option value="2">Pending</option>
              <option value="3">Complete</option>
            </select>
          </div>
          <div>
            <p class="inline font-bold">ID Type:</p>
            <select
              name=""
              id="typeInput"
              class="border-2 rounded shadow inline"
            >
              <option value="1">All</option>
              <option value="1">National ID</option>
              <option value="2">HUMID ID</option>
              <option value="3">Driver's License</option>
            </select>
          </div>
          <div>
            <p class="font-bold inline">Search:</p>
            <input
              type="text"
              class="border-2 shadow rounded w-400"
              placeholder="Enter the Name"
              id="searchInput"
            />
            <button class="px-2 bg-black text-white rounded shadow">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
        </div>
        <div class="card mt-5">
          <table class="w-full">
            <thead class="border-b-2">
              <tr>
                <th class="text-center">
                  <i class="fa-solid fa-user"></i> Full Name
                </th>
                <th class="text-center">
                  <i class="fa-solid fa-id-card-clip"></i> ID Type
                </th>
                <th class="text-center">
                  <i class="fa-solid fa-cash-register"></i> Status
                </th>
                <th class="text-center">
                  <i class="fa-solid fa-book"></i> Purpose
                </th>
                <th class="text-center">
                  <i class="fa-solid fa-clock"></i> Date and Time
                </th>
                <th class="text-center">
                  <i class="fa-solid fa-phone"></i> Phone Number
                </th>
                <th class="text-center">Missing Visitors card?</th>
              </tr>
            </thead>
            <tbody id="dataTable">
              {% for visitor in visitors%}
              <tr class="pt-2">
                <td class="pt-3 font-semibold text-center">
                  {{visitor.FirstName |title}} {{visitor.LastName|title}}
                </td>
                <td class="pt-3 font-semibold text-center">{{visitor.Type}}</td>
                <td
                  class="pt-3 font-semibold text-center"
                  id="Status{{visitor.RFID_NUM}}"
                >
                  {% if visitor.Status == "Pending" %}
                  <span class="bg-orange-200 px-3 py-1 rounded-full"
                    >{{visitor.Status}}</span
                  >
                  {% elif visitor.Status == "Ongoing" %}
                  <span class="bg-sky-200 px-3 py-1 rounded-full"
                    >{{visitor.Status}}</span
                  >
                  {% endif %}
                </td>
                <td class="pt-3 font-semibold text-center">
                  {{visitor.Purpose}}
                </td>
                <td class="pt-3 font-semibold text-center">
                  {{visitor.LogIn}}
                </td>
                <td class="pt-3 font-semibold flex gap-2 flex justify-center">
                  {% if visitor.PhoneNumber is null %}
                  <input
                    type="text"
                    class="border-2 rounded-full border-black"
                    placeholder="Add Phone Number"
                    id="Input{{visitor.RFID_NUM}}"
                  />
                  <button
                    class="border px-3 bg-black text-white rounded-full addPhone"
                    data-rfid="{{visitor.RFID_NUM}}"
                  >
                    Add
                  </button>
                  {% else %}
                  <input
                    type="text"
                    class="border-2 rounded-full border-black bg-gray-200"
                    id="Input{{visitor.RFID_NUM}}"
                    value="{{visitor.PhoneNumber}}"
                    disabled
                  />
                  <button
                    class="border px-3 bg-black text-white rounded-full addPhone"
                    data-rfid="{{visitor.RFID_NUM}}"
                  >
                    Add
                  </button>
                  {% endif %}
                </td>
                <td class="pt-3 text-center font-semibold">
                  <button
                    class="transition-all duration-500 rounded text-white bg-black px-2 hover:-translate-y-2 missingEmail"
                    id="row{{visitor.Count}}"
                  >
                    Contact to admin
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script>
      function getCSRFToken() {
        return document.querySelector('meta[name="csrf-token"]').getAttribute("content");
      }

             const server = "http://192.168.1.10:8000";

             // const server = "http://127.0.0.1:8000"

             const minimizeBtn = document.querySelector("#minimizeBtn");
             var currentCount = {{ count|safe }}
             var currentCountCashier = {{ count_cashier|safe }}
             var currentCountRegistrar = {{ count_registrar|safe }}
             var currentCountAccounting = {{ count_accounting|safe }}
             console.log(currentCountRegistrar)
             var tblData = document.querySelector("#dataTable")

             minimizeBtn.addEventListener("click", () => {
               document.querySelector("#sidebar").classList.toggle("w-0");
               document.querySelector("#sidebar>h2").classList.toggle("scale-0");
               document.querySelector("#navMenu").classList.toggle("scale-0");
             });

             const adminMissingEmail = document.querySelectorAll("td > .missingEmail")
             adminMissingEmail.forEach(function(missingBtn){

               missingBtn.addEventListener("click", function(){
                 rowNum = this.id.replace('row', '')
                 row = tblData.querySelectorAll("tr")[rowNum - 1]
                 name = row.querySelector("td:nth-child(1)").innerText
                 purpose = row.querySelector("td:nth-child(3)").innerText
                 timeIn = row.querySelector("td:nth-Child(5)").innerText
                 console.log(name, purpose, timeIn)
                 sendEmail(name, purpose, timeIn)
               })
             })


             const sendEmail = (name, purpose, timein) => {
                 $.ajax({
                   url:`${server}/sent`,
                   type: "POST",
                   headers: {
                     "X-CSRFToken": getCSRFToken(),
                   },
                   data: JSON.stringify({
                     "name":name,
                     "purpose":purpose,
                     "timeIn": timein
                   }),
                   success: (response) => {
                     console.log(response)
                   },
                   error: function (xhr, status, error) {
                   console.log("Error", error);
                   },
                 })
             }

             const addPhoneNumber = (rfid, phonenumber) => {
               $.ajax({
                 url: `${server}/addPhoneNumber`,
                 type:"POST",
                 headers: {
                     "X-CSRFToken": getCSRFToken(),
                 },
                 data: JSON.stringify({
                   "phone": phonenumber,
                   "rfid_num": rfid
                 }),
                 success: (response) => {
                   console.log(response)
                 },
                 error: function (xhr, status, error) {
                   console.log("Error", error);
                 }
               })
             }


             const new_visitor = () => {
               $.ajax({
                 url: `${server}/insert`,
                 type: "POST",
                 headers: {
                   "X-CSRFToken": getCSRFToken(),
                 },
                 success: (response) => {
                   tblData = document.querySelector("#dataTable")
                   var count = response.count
                   var visitor = response.visitor
                   let newData = ''
                   if (count > currentCount){
                         newData += `
                           <tr class="pt-2">
                             <td class="pt-3 font-semibold">
                               ${visitor.FirstName} ${visitor.LastName}
                             </td>
                             <td class="pt-3 font-semibold">${visitor.Type}</td>
                             <td class="pt-3 font-semibold" id = "Status${visitor.RFID_NUM}">
                               <span class="bg-orange-200 px-3 py-1 rounded-full"
                                 >${visitor.Status}</span
                               >
                             </td>
                             <td class="pt-3 font-semibold">${visitor.Purpose}</td>
                             <td class="pt-3 font-semibold">${visitor.LogIn}</td>
                             <td class="pt-3 font-semibold">
                               <input
                                 type="text"
                                 class="border-2 rounded-full border-black"
                                 placeholder="Add Phone Number"
                                 id="Input${visitor.RFID_NUM}"
                               />
                               <button
                                 class="border px-3 bg-black text-white rounded-full addPhone"
                                 data-rfid="${visitor.RFID_NUM}"
                               >
                                 Add
                               </button>
                             </td>
                             <td class="pt-3 text-center font-semibold">
                               <button
                                 class="transition-all duration-500 rounded text-white bg-black px-2 hover:-translate-y-2 missingEmail"
                                 id = 'row${count}'
                               >
                                 Contact to admin
                               </button>
                             </td>
                           </tr>
                       `
                       $("#dataTable").append(newData)
                       currentCount = count
                       document.querySelector("#totalVisitors").innerHTML = count + `<span class="text-xl flex items-center mx-2">visitor/s</span>`

                   }
                 },
                 error: function (xhr, status, error) {
                   console.log("Error", error);
                 },
               });
             };

             const removing_visitor = () => {
               $.ajax({
                 url: `${server}/egress`,
                 type: "GET",
                 headers: {
                   "X-CSRFToken": getCSRFToken()
                 },
                 success: (response) =>{
                    let newData = ''
                    var count = response.count
                    var info = response.update

                    if (count < currentCount){
                     info.forEach((visitor) => {
                       console.log(visitor.Status)
                       newData += `
                            <tr class="pt-2" data-aos = "slide-up">
                             <td class="pt-3 font-semibold">
                               ${visitor.FirstName} ${visitor.LastName}
                             </td>
                             <td class="pt-3 font-semibold">${visitor.Type}</td>
                             <td class="pt-3 font-semibold" id = "Status${visitor.RFID_NUM}">
                             ${visitor.Status == 'Pending' ?
                                 `<span class="bg-orange-200 px-3 py-1 rounded-full"
                                 >${visitor.Status}</span
                               >`  : visitor.Status == "Ongoing" ?
                               `<span class="bg-sky-200 px-3 py-1 rounded-full"
                                 >${visitor.Status}</span` : `<span class="bg-green-200 px-3 py-1 rounded-full"
                                 >${visitor.Status}</span`
                             }
                             </td>
                             <td class="pt-3 font-semibold">${visitor.Purpose}</td>
                             <td class="pt-3 font-semibold">${visitor.LogIn}</td>
                              <td class="pt-3 font-semibold">
                               <input
                                 type="text"
                                 class="border-2 rounded-full border-black"
                                 placeholder="Add Phone Number"
                                 id="Input${visitor.RFID_NUM}"
                               />
                               <button
                                 class="border px-3 bg-black text-white rounded-full addPhone"
                                 data-rfid="${visitor.RFID_NUM}"
                               >
                                 Add
                               </button>
                               </td>
                             <td class="pt-3 text-center font-semibold">
                               <button
                                 class="transition-all duration-500 rounded text-white bg-black px-2 hover:-translate-y-2 missingEmail"
                                 id = 'row${count}'
                               >
                                 Contact to admin
                               </button>
                             </td>
                           </tr>
                       `
                     })
                     $("#dataTable").html('')
                     $("#dataTable").append(newData)
                     document.querySelector("#totalVisitors").innerHTML = count + `<span class="text-xl flex items-center mx-2">visitor/s</span>`
                     currentCount = count
                   }
                 }
               })
             }

             const new_cashier = () => {
               $.ajax({
                 url: `${server}/new_trn_cashier`,
                 type:"GET",
                 headers: {
                   "X-CSRFToken": getCSRFToken(),
                 },
                 success: (response) => {
                   var tblData = ''
                   console.log(Number(response.cashier_count))
                   if (currentCountCashier != Number(response.cashier_count)){
                     var visitors = response.visitors
                     document.querySelector("#dataTable").innerHTML = ''

                     visitors.forEach((visitor) => {
                       var visitorStatus = (visitor.Status == "Pending") ?
                       `<span class="bg-orange-200 px-3 py-1 rounded-full">${visitor.Status}</span>` :
                       `<span class="bg-sky-200 px-3 py-1 rounded-full">${visitor.Status}</span>`
                       var phoneNumber = (visitor.PhoneNumber === null) ? `
                       <input
                          type="text"
                          class="border-2 rounded-full border-black"
                          placeholder="Add Phone Number"
                          id="Input{{visitor.RFID_NUM}}"
                        />
                        <button
                          class="border px-3 bg-black text-white rounded-full addPhone"
                          data-rfid="{{visitor.RFID_NUM}}"
                        >
                          Add
                        </button>`: `
                        <input
                          type="text"
                          class="border-2 rounded-full border-black bg-gray-200"
                          id="Input{{visitor.RFID_NUM}}"
                          value="${visitor.PhoneNumber}"
                          disabled
                        />
                        <button
                          class="border px-3 bg-black text-white rounded-full addPhone"
                          data-rfid="${visitor.RFID_NUM}"
                        >
                          Add
                        </button>`
                       tblData += `
                         <tr class="pt-2">
                           <td class="pt-3 font-semibold">
                             ${visitor.FirstName} ${visitor.LastName}
                           </td>
                           <td class="pt-3 font-semibold">${visitor.Type}</td>
                           <td class="pt-3 font-semibold" id="Status${visitor.RFID_NUM}">
                             ${visitorStatus}
                           </td>
                           <td class="pt-3 font-semibold">${visitor.Purpose}</td>
                           <td class="pt-3 font-semibold">${visitor.LogIn}</td>
                           <td class="pt-3 font-semibold">
                               ${phoneNumber}
                           </td>
                           <td class="pt-3 text-center font-semibold">
                             <button
                               class="transition-all duration-500 rounded text-white bg-black px-2 hover:-translate-y-2 missingEmail"
                               id="row${visitor.Count}"
                             >
                               Contact to admin
                             </button>
                           </td>
                         </tr>
                       `
                     })
                     $("#dataTable").append(tblData)
                     currentCountCashier = Number(response.cashier_count)
                     document.querySelector("#cashierVisitors").innerHTML = currentCountCashier + `<span class="text-xl flex items-center mx-2">visitor/s</span>`
                   }
                 },
                 error: function (xhr, status, error) {
                   console.log("Error", error);
                 }
               })
             }



             const new_accounting = () => {
               $.ajax({
                 url: `${server}/new_trn_accounting`,
                 type:"GET",
                 headers: {
                   "X-CSRFToken": getCSRFToken(),
                 },
                 success: (response) => {
                   var tblData = ''
                   console.log(Number(currentCountAccounting), Number(response.count_accounting))
                   if (Number(currentCountAccounting) != Number(response.count_accounting)){
                     var visitors = response.visitors
                     document.querySelector("#dataTable").innerHTML = ''

                     visitors.forEach((visitor) => {
                       var visitorStatus = (visitor.Status == "Pending") ?
                       `<span class="bg-orange-200 px-3 py-1 rounded-full">${visitor.Status}</span>` :
                       `<span class="bg-sky-200 px-3 py-1 rounded-full">${visitor.Status}</span>`
                       var phoneNumber = (visitor.PhoneNumber === null) ? `
                       <input
                          type="text"
                          class="border-2 rounded-full border-black"
                          placeholder="Add Phone Number"
                          id="Input${visitor.RFID_NUM}"
                        />
                        <button
                          class="border px-3 bg-black text-white rounded-full addPhone"
                          data-rfid="${visitor.RFID_NUM}"
                        >
                          Add
                        </button>`: `
                        <input
                          type="text"
                          class="border-2 rounded-full border-black bg-gray-200"
                          id="Input${visitor.RFID_NUM}"
                          value="${visitor.PhoneNumber}"
                          disabled
                        />
                        <button
                          class="border px-3 bg-black text-white rounded-full addPhone"
                          data-rfid="${visitor.RFID_NUM}"
                        >
                          Add
                        </button>`


                       tblData += `
                         <tr class="pt-2">
                           <td class="pt-3 font-semibold">
                             ${visitor.FirstName} ${visitor.LastName}
                           </td>
                           <td class="pt-3 font-semibold">${visitor.Type}</td>
                           <td class="pt-3 font-semibold" id="Status${visitor.RFID_NUM}">
                             ${visitorStatus}
                           </td>
                           <td class="pt-3 font-semibold">${visitor.Purpose}</td>
                           <td class="pt-3 font-semibold">${visitor.LogIn}</td>
                           <td class="pt-3 font-semibold">
                              ${phoneNumber}
                           </td>
                           <td class="pt-3 text-center font-semibold">
                             <button
                               class="transition-all duration-500 rounded text-white bg-black px-2 hover:-translate-y-2 missingEmail"
                               id="row${visitor.Count}"
                             >
                               Contact to admin
                             </button>
                           </td>
                         </tr>
                       `

                     })
                     $("#dataTable").append(tblData)
                     currentCountAccounting = Number(response.count_accounting)
                     document.querySelector("#accountingVisitors").innerHTML = currentCountAccounting + `<span class="text-xl flex items-center mx-2">visitor/s</span>`
                   }
                 },
                 error: function (xhr, status, error) {
                   console.log("Error", error);
                 }
               })
             }

             const new_registrar = () => {
               $.ajax({
                 url: `${server}/new_trn_registrar`,
                 type: 'GET',
                 headers: {
                   "X-CSRFToken": getCSRFToken(),
                 },
                 success: (response) => {
                   var count = response.count_registrar[0]["COUNT(*)"]
                   var tblData = ''

                   console.log(response)
                   if (Number(count) != Number(currentCountRegistrar)){
                       $("#dataTable").html('')
                       console.log("Working")
                       var visitors = response.registrar
                       console.log(visitors)
                       visitors.forEach((visitor) => {
                       var visitorStatus = (visitor.Status == "Pending") ?
                       `<span class="bg-orange-200 px-3 py-1 rounded-full">${visitor.Status}</span>` :
                       `<span class="bg-sky-200 px-3 py-1 rounded-full">${visitor.Status}</span>`
                       var phoneNumber = (visitor.PhoneNumber === null) ? `
                       <input
                          type="text"
                          class="border-2 rounded-full border-black"
                          placeholder="Add Phone Number"
                          id="Input{{visitor.RFID_NUM}}"
                        />
                        <button
                          class="border px-3 bg-black text-white rounded-full addPhone"
                          data-rfid="{{visitor.RFID_NUM}}"
                        >
                          Add
                        </button>`: `
                        <input
                          type="text"
                          class="border-2 rounded-full border-black bg-gray-200"
                          id="Input{{visitor.RFID_NUM}}"
                          value="${visitor.PhoneNumber}"
                          disabled
                        />
                        <button
                          class="border px-3 bg-black text-white rounded-full addPhone"
                          data-rfid="${visitor.RFID_NUM}"
                        >
                          Add
                        </button>`
                       tblData += `
                         <tr class="pt-2">
                           <td class="pt-3 font-semibold">
                             ${visitor.FirstName} ${visitor.LastName}
                           </td>s
                           <td class="pt-3 font-semibold">${visitor.Type}</td>
                           <td class="pt-3 font-semibold" id="Status${visitor.RFID_NUM}">
                             ${visitorStatus}
                           </td>
                           <td class="pt-3 font-semibold">${visitor.Purpose}</td>
                           <td class="pt-3 font-semibold">${visitor.LogIn}</td>
                           <td class="pt-3 font-semibold">
                              ${phoneNumber}
                           </td>
                           <td class="pt-3 text-center font-semibold">
                             <button
                               class="transition-all duration-500 rounded text-white bg-black px-2 hover:-translate-y-2 missingEmail"
                               id="row${visitor.Count}"
                             >
                               Contact to admin
                             </button>
                           </td>
                         </tr>
                       `
                       })

                   }


                   $("#dataTable").append(tblData)
                   currentCountRegistrar = Number(count)
                   document.querySelector("#registrarVisitors").innerHTML = currentCountRegistrar + `<span class="text-xl flex items-center mx-2">visitor/s</span>`


                 }, error: function (xhr, status, error) {
                   console.log("Error", error);
                 }
               })
             }





             document.querySelector("#dataTable").addEventListener("click", (e) => {
                   if(e.target.classList.contains("addPhone")){
                     const btn = e.target
                     const rfid = btn.dataset.rfid
                     document.querySelector(`#Input${rfid}`).disabled = true
                     document.querySelector(`#Input${rfid}`).classList.add("bg-gray-200")
                     let visitorPhoneNumber = document.querySelector(`#Input${rfid}`).value
                     console.log(visitorPhoneNumber)
                     addPhoneNumber(rfid, visitorPhoneNumber)
                   }
             })

            setInterval(function(){
               new_visitor();
               new_cashier();
               removing_visitor();
               new_registrar();
               new_accounting();
             }, 3000)
    </script>
  </body>
</html>
