<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="{{ csrf_token }}" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/apexcharts/dist/apexcharts.css"
    />
    <script
      src="https://kit.fontawesome.com/6579bcae86.js"
      crossorigin="anonymous"
    ></script>
    <title>Home</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
      * {
        font-family: "DM Sans", sans-serif;
        font-optical-sizing: auto;
      }
    </style>
  </head>
  <body>
    <div class="flex flex-row">
      <div
        class="transition-all duration-500 w-96 bg-gray-200 text-black"
        id="sidebar"
      >
        {% include "./includes/sidebar.html" %}
      </div>
      <div class="w-full p-3" id="main">
        <div class="flex flex-row justify-between">
          <div class="font-bold text-3xl py-5">
            <i
              class="transition-all duration-700 fa-solid fa-bars cursor-pointer hover:-translate-y-1"
              id="minimizeBtn"
            ></i>
            Welcome Users
          </div>
          <div class="font-bold text-3xl py-5">
            <h2>Total Visitors</h2>
            <h2 class="text-center">
              <i class="fa-solid fa-users"></i>
              <span id="total_visitors">{{count}}</span>
            </h2>
          </div>
        </div>
        <div class="flex flex-row mt-2 gap-7">
          <div>
            <p class="inline font-bold">Purpose:</p>
            <select
              name=""
              id="purposeInput"
              class="border-2 rounded shadow inline"
            >
              <option value="1">All</option>
              <option value="2">Cashier</option>
              <option value="3">Accounting</option>
            </select>
          </div>
          <div>
            <p class="inline font-bold">Status:</p>
            <select
              name=""
              id="statusInput"
              class="border-2 rounded shadow inline"
            >
              <option value="1">All</option>
              <option value="2">Pending</option>
              <option value="3">Complete</option>
            </select>
          </div>
          <div>
            <p class="inline font-bold">ID Type:</p>
            <select
              name=""
              id="typeInput"
              class="border-2 rounded shadow inline"
            >
              <option value="1">All</option>
              <option value="1">National ID</option>
              <option value="2">HUMID ID</option>
              <option value="3">Driver's License</option>
            </select>
          </div>
          <div>
            <p class="font-bold inline">Search:</p>
            <input
              type="text"
              class="border-2 shadow rounded w-400"
              placeholder="Enter the Name"
              id="searchInput"
            />
            <button class="px-2 bg-black text-white rounded shadow">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
        </div>
        <div class="card mt-5">
          <table class="w-full">
            <thead class="border-b-2">
              <tr>
                <th class="text-start">
                  <i class="fa-solid fa-user"></i> Full Name
                </th>
                <th class="text-start">
                  <i class="fa-solid fa-id-card-clip"></i> ID Type
                </th>
                <th class="text-start">
                  <i class="fa-solid fa-cash-register"></i> Status
                </th>
                <th class="text-start">
                  <i class="fa-solid fa-book"></i> Purpose
                </th>
                <th class="text-start">
                  <i class="fa-solid fa-clock"></i> Date and Time
                </th>
                <th class="text-start">
                  <i class="fa-solid fa-clock"></i> Time of Egress
                </th>
                <th class="text-center">Missing Visitors card?</th>
              </tr>
            </thead>
            <tbody id="dataTable">
              {% for visitor in visitors%}
              <tr class="pt-2">
                <td class="pt-3 font-semibold">
                  {{visitor.FirstName |title}} {{visitor.LastName|title}}
                </td>
                <td class="pt-3 font-semibold">{{visitor.Type}}</td>
                <td class="pt-3 font-semibold" id="Status{{visitor.RFID_NUM}}">
                  {% if visitor.Status == "Pending" %}
                  <span class="bg-orange-200 px-3 py-1 rounded-full"
                    >{{visitor.Status}}</span
                  >
                  {% elif visitor.Status == "Ongoing" %}
                  <span class="bg-sky-200 px-3 py-1 rounded-full"
                    >{{visitor.Status}}</span
                  >
                  {% endif %}
                </td>
                <td class="pt-3 font-semibold">{{visitor.Purpose}}</td>
                <td class="pt-3 font-semibold">{{visitor.LogIn}}</td>
                <td class="pt-3 font-semibold">Time</td>
                <td class="pt-3 text-center font-semibold">
                  <button
                    class="transition-all duration-500 rounded text-white bg-black px-2 hover:-translate-y-2 missingEmail"
                    id="row{{visitor.Count}}"
                  >
                    Contact to admin
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="pagination flex flex-row mt-4 gap-1">
            <button
              class="left transition-all duration-300 hover:-translate-y-1"
            >
              <i class="fa-solid fa-circle-chevron-left text-2xl"></i>
            </button>
            <div class="page flex flex-row text-base">
              <button
                class="transition-all duration-300 button1 bg-black px-3 py-1 font-bold text-white rounded-full hover:-translate-y-1"
              >
                1
              </button>
              <button
                class="transition-all duration-300 button1 px-3 py-1 font-bold rounded-full hover:-translate-y-1 hover:bg-black hover:text-white"
              >
                2
              </button>
            </div>
            <button
              class="left transition-all duration-300 hover:-translate-y-1 rotate-180"
            >
              <i class="fa-solid fa-circle-chevron-left text-2xl"></i>
            </button>
          </div>
          <div class="mt-8 w-full p-3">
            <h1 class="font-bold text-2xl text-center">
              <i class="fa-solid fa-chart-line"></i> Visitor's Summary
            </h1>
            <div class="cards flex flex-col lg:flex-row w-full mt-5">
              <div
                class="w-full lg:w-1/2 flex flex-col lg:flex-row items-stretch justify-between gap-4"
              >
                <div
                  id="chart1"
                  class="w-full lg:w-1/2 shadow rounded border-2 mx-auto"
                ></div>
                <div
                  class="status1 lg:w-1/2 duration-500 flex flex-col gap-4 w-full"
                >
                  <div class="shadow rounded border-2 p-3">
                    <h1 class="text-center font-bold text-2xl">
                      Total of Visitors Yesterday
                    </h1>
                    <h1 class="mt-2 text-center font-bold text-2xl">
                      <i class="fa-solid fa-person-walking-arrow-right"></i>
                      <span class="mx-1" id="yesterdayVisitors"
                        >30 Visitors</span
                      >
                    </h1>
                  </div>
                  <div class="shadow rounded border-2 p-3">
                    <h1 class="text-center font-bold text-2xl">
                      Total of Visitors Today
                    </h1>
                    <h1 class="text-center font-bold text-2xl">
                      <i class="fa-solid fa-person-walking-arrow-right"></i
                      ><span class="mx-1" id="todaysVisitors">22 Visitors</span>
                    </h1>
                  </div>
                  <div class="shadow rounded border-2 p-3">
                    <h1 class="text-center font-bold text-2xl">
                      Percentage Increase of Visitors
                    </h1>
                    <h1 class="text-center font-bold text-2xl">
                      <i class="fa-solid fa-circle-down text-red-800"></i
                      ><span class="mx-1" id="percentageVisitors">-0.26%</span>
                    </h1>
                  </div>
                </div>
              </div>
              <div
                class="w-full lg:w-1/2 flex flex-col lg:flex-row justify-center"
              >
                <div id="chart2" class="w-full lg:w-1/2"></div>
                <div id="status2" class="w-1/3">awdwd</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script>
              function getCSRFToken() {
                return document
                  .querySelector('meta[name="csrf-token"]')
                  .getAttribute("content");
              }
              const server = "http://127.0.0.1:8000"

              const minimizeBtn = document.querySelector("#minimizeBtn");
              var currentCount = {{ count|safe }}
              var currentCountCashier = {{ count_cashier|safe }}
              console.log(currentCountCashier)
              var tblData = document.querySelector("#dataTable")

              minimizeBtn.addEventListener("click", () => {
                document.querySelector("#sidebar").classList.toggle("w-0");
                document.querySelector("#sidebar>h2").classList.toggle("scale-0");
                document.querySelector("#navMenu").classList.toggle("scale-0");
              });

              const adminMissingEmail = document.querySelectorAll("td > .missingEmail")
              adminMissingEmail.forEach(function(missingBtn){

                missingBtn.addEventListener("click", function(){
                  rowNum = this.id.replace('row', '')
                  row = tblData.querySelectorAll("tr")[rowNum - 1]
                  name = row.querySelector("td:nth-child(1)").innerText
                  purpose = row.querySelector("td:nth-child(3)").innerText
                  timeIn = row.querySelector("td:nth-Child(5)").innerText
                  console.log(name, purpose, timeIn)
                  sendEmail(name, purpose, timeIn)
                })
              })


              const sendEmail = (name, purpose, timein) => {
                  $.ajax({
                    url:`${server}/sent`,
                    type: "POST",
                    headers: {
                      "X-CSRFToken": getCSRFToken(),
                    },
                    data: JSON.stringify({
                      "name":name,
                      "purpose":purpose,
                      "timeIn": timein
                    }),
                    success: (response) => {
                      console.log(response)
                    },
                    error: function (xhr, status, error) {
                    console.log("Error", error);
                    },
                  })
              }


              const new_visitor = () => {
                $.ajax({
                  url: `${server}/insert`,
                  type: "POST",
                  headers: {
                    "X-CSRFToken": getCSRFToken(),
                  },
                  success: (response) => {
                    tblData = document.querySelector("#dataTable")
                    var count = response.count
                    var visitor = response.visitor
                    let newData = ''
                    if (count > currentCount){
                          newData += `
                            <tr class="pt-2" data-aos = "slide-up">
                              <td class="pt-3 font-semibold">
                                ${visitor.FirstName} ${visitor.LastName}
                              </td>
                              <td class="pt-3 font-semibold">${visitor.Type}</td>
                              <td class="pt-3 font-semibold" id = "Status${visitor.RFID_NUM}">
                                <span class="bg-orange-200 px-3 py-1 rounded-full"
                                  >${visitor.Status}</span
                                >
                              </td>
                              <td class="pt-3 font-semibold">${visitor.Purpose}</td>
                              <td class="pt-3 font-semibold">${visitor.LogIn}</td>
                              <td class="pt-3 font-semibold">Time</td>
                              <td class="pt-3 text-center font-semibold">
                                <button
                                  class="transition-all duration-500 rounded text-white bg-black px-2 hover:-translate-y-2 missingEmail"
                                  id = 'row${count}'
                                >
                                  Contact to admin
                                </button>
                              </td>
                            </tr>
                        `
                        $("#dataTable").append(newData)
                        currentCount = count
                        document.querySelector("#total_visitors").innerHTML = count
                    }



                  },
                  error: function (xhr, status, error) {
                    console.log("Error", error);
                  },
                });
              };

              const removing_visitor = () => {
                $.ajax({
                  url: `${server}/egress`,
                  type: "GET",
                  headers: {
                    "X-CSRFToken": getCSRFToken()
                  },
                  success: (response) =>{
                     let newData = ''
                     var count = response.count
                     var info = response.update

                     if (count < currentCount){
                      info.forEach((visitor) => {
                        console.log(visitor.Status)
                        newData += `
                             <tr class="pt-2" data-aos = "slide-up">
                              <td class="pt-3 font-semibold">
                                ${visitor.FirstName} ${visitor.LastName}
                              </td>
                              <td class="pt-3 font-semibold">${visitor.Type}</td>
                              <td class="pt-3 font-semibold" id = "Status${visitor.RFID_NUM}">
                              ${visitor.Status == 'Pending' ?
                                  `<span class="bg-orange-200 px-3 py-1 rounded-full"
                                  >${visitor.Status}</span
                                >`  : visitor.Status == "Ongoing" ?
                                `<span class="bg-sky-200 px-3 py-1 rounded-full"
                                  >${visitor.Status}</span` : `<span class="bg-green-200 px-3 py-1 rounded-full"
                                  >${visitor.Status}</span`
                              }
                              </td>
                              <td class="pt-3 font-semibold">${visitor.Purpose}</td>
                              <td class="pt-3 font-semibold">${visitor.LogIn}</td>
                               <td class="pt-3 font-semibold">Time</td>
                              <td class="pt-3 text-center font-semibold">
                                <button
                                  class="transition-all duration-500 rounded text-white bg-black px-2 hover:-translate-y-2 missingEmail"
                                  id = 'row${count}'
                                >
                                  Contact to admin
                                </button>
                              </td>
                            </tr>
                        `
                      })
                      $("#dataTable").html('')
                      $("#dataTable").append(newData)
                      document.querySelector("#total_visitors").innerHTML = count
                      currentCount = count
                    }
                  }
                })
              }

              const new_cashier = () => {
                $.ajax({
                  url: `${server}/new_trn_cashier`,
                  type:"GET",
                  headers: {
                    "X-CSRFToken": getCSRFToken(),
                  },
                  success: (response) => {
                    var tblData = ''
                    console.log(Number(response.cashier_count))
                    if (currentCountCashier != Number(response.cashier_count)){
                      var visitors = response.visitors
                      document.querySelector("#dataTable").innerHTML = ''

                      visitors.forEach((visitor) => {
                        var visitorStatus = (visitor.Status == "Pending") ?
                        `<span class="bg-orange-200 px-3 py-1 rounded-full">${visitor.Status}</span>` :
                        `<span class="bg-sky-200 px-3 py-1 rounded-full">${visitor.Status}</span>`
                        tblData += `
                          <tr class="pt-2">
                            <td class="pt-3 font-semibold">
                              ${visitor.FirstName} ${visitor.LastName}
                            </td>
                            <td class="pt-3 font-semibold">${visitor.Type}</td>
                            <td class="pt-3 font-semibold" id="Status${visitor.RFID_NUM}">
                              ${visitorStatus}
                            </td>
                            <td class="pt-3 font-semibold">${visitor.Purpose}</td>
                            <td class="pt-3 font-semibold">${visitor.LogIn}</td>
                            <td class="pt-3 font-semibold">Time</td>
                            <td class="pt-3 text-center font-semibold">
                              <button
                                class="transition-all duration-500 rounded text-white bg-black px-2 hover:-translate-y-2 missingEmail"
                                id="row${visitor.Count}"
                              >
                                Contact to admin
                              </button>
                            </td>
                          </tr>
                        `

                      })
                      console.log(tblData)
                      $("#dataTable").append(tblData)
                      currentCountCashier = Number(response.cashier_count)
                    }



                  },
                  error: function (xhr, status, error) {
                    console.log("Error", error);
                  }
                })
              }

             setInterval(function(){
                new_visitor();
                new_cashier();
                removing_visitor()
              }, 3000)




      // Charts

      const options = {
      chart: {
        type: 'donut', // Specify that this is a donut chart
        height: 400, // Fixed height
          // Fixed width, optional if you set it in CSS

      },
      grid: {
      padding: {

      right: 50,

      }},
      series: [70, 30], // Two values for the donut chart
      labels: ['Visitors Yesterday', 'Visitors Today'], // Labels for each segment
      title: {
        text: 'Percantage of Visits',
        align:"center"
      },
      colors: ['#7077A1', '#343131'],
      plotOptions: {
        pie: {
            donut: {
                size: '65%' // Adjust the size of the donut hole
            }
        }
      },
      legend: {
      position: 'bottom', // Position of the legend
      horizontalAlign: 'center', // Horizontal alignment of the legend
      floating: false, // Set to true if you want to position the legend absolutely
      offsetY: 10 // Vertical offset for legend positioning
      }

      };

      const barChartOptions = {
      chart: {
      type: 'bar', // Specifies that this is a bar chart
      height: 400, // Fixed height

      },
      series: [{
      name: 'Visitors',
      data: [10, 15, 20, 25, 30, 35, 40] // Example data
      }],
      xaxis: {
      categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul'] // Example categories
      },
      title: {
      text: 'Monthly Visitor Count'
      },
      plotOptions: {
      bar: {
      horizontal: false, // Vertical bars
      endingShape: 'rounded' // Rounded bars
      }
      },
      colors: ['#008FFB'] // Bar color
      };

      const chart = new ApexCharts(document.querySelector("#chart1"), options);
      chart.render();
      const barChart = new ApexCharts(document.querySelector("#chart2"), barChartOptions);
      barChart.render();




              // function sendData(mode) {
              //   $.ajax({
              //     url: "http://127.0.0.1:8000/dashboard/linearChartData",
              //     type: "POST",
              //     data: {
              //       mode: mode,
              //     },
              //     headers: {
              //       "X-CSRFToken": getCSRFToken(), // Include the CSRF token
              //     },
              //     success: (response) => {
              //       console.log(response);
              //       chart1.updateOptions({
              //         series: [
              //           {
              //             data: response["rows"],
              //           },
              //         ],
              //         xaxis: {
              //           categories: response["cols"],
              //         },
              //       });
              //     },
              //     error: function (xhr, status, error) {
              //       console.log("Error", error);
              //     },
              //   });
              // }
    </script>
  </body>
</html>
